<h2><%= "Editar Perfil" %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :avatar %>
      <%= f.file_field :avatar %>

      <%= f.label "Nome" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>

      <%= f.label :password_confirmation, "Confirmação" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :current_password, "Senha Atual" %>
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>

      <%= f.submit "Salvar Mudanças", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<!--<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
-->