<h2><%= "Editar Perfil" %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<%= form_for(@user, :html => { :method => :put,  class: 'form-horizontal'}) do |f| %>

      <%= f.label :avatar %>
      <div class="text-center">
        <%= image_tag(@user.avatar.url(:thumb), :align=> "middle")%><br>
      </div>

      <%= f.label :name %>
      <%= f.email_field :name,:readonly => true, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email,:readonly => true, class: 'form-control' %>
      
      <%= f.label "Tipo de Usuário" %>
      <%= f.collection_select :role_id, Role.order(:name),:id,:name, include_blank: true %>

      <%= f.label "Empresa" %>
      <%= f.collection_select :companies, Company.order(:fantasy_name),:id,:fantasy_name,selected: @user.companies.first.nil? ? {} : @user.companies.first.id, include_blank: true %>

      <%= f.submit "Salvar Mudanças", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
