<table data-toggle="table" data-search="true">
  <thead>
      <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Empresa</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.role.name %></td>
      <td>
        <% if user.companies.first != nil %>
          <%= user.companies.first.fantasy_name %>
        <% end %>
      </td>
      <td>
        <div class='wrapper text-center'>
          <div class="btn-group btn-group-sm">
            <% if isAdmin? %>
              <%= link_to "excluir", {:controller => :users, :action => 'delete_user', :id => user.id }, :method => :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger', role: "button" %>
              <%= link_to "editar", edit_user_path(user), class: 'btn btn-mini btn-warning', role: "button" %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>