<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :logo, :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.file_field :logo, :class=>"form-control" %>
          </div>
        </div>
        <hr class="margin-75">
        <div class="form-group">
          <%= f.label 'Nome Fantasia', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :fantasy_name, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Razão Social', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :company_name, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'CNPJ', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :cnpj, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Descrição', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_area :description, :class=>"form-control", cols: "30", rows: "5" %>
          </div>
        </div>
        <hr size="10">
        <div class="form-group">
          <%= f.label 'CEP', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :cep, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Logradouro', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :street, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Comp.', :title=>"Complemento", :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :complement, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Bairro', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :area, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Cidade', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :city, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Estado', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :state, :class=>"form-control" %>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label class="col-xs-2 control-label">Tipo</label>
          <div class="col-xs-10">
            <% if isAdmin? %>
              <%= f.collection_select :type_id, CompanyType.order(:name),:id,:name, include_blank: false %>
            <% else %>
              <%= f.label @company.company_type.name %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label">Fase</label>
          <div class="col-xs-10">
            <% if isAdmin? %>
              <%= f.collection_select :phase_id, CompanyPhase.order(:name),:id,:name, include_blank: false %>
            <% else %>
              <%= f.label @company.company_phase.name %>
            <% end %>
          </div>
        </div>
        <hr size="10">  
        <div class="form-group">
          <%= f.label 'Telefone', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :phone, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Email', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :email, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Facebook', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :facebook, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Twitter', :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :twitter, :class=>"form-control" %>
          </div>
        </div>
        <hr class="margin-300">
        <div class="form-group">
          <%= f.label 'Usuários envolvidos'%>
          
          <div>
            <%= f.collection_select(:users, @users, :id, :name, {:selected => @company.users.map(&:id)}, {:multiple => true, id: "my-select", class: "searchable"}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Voltar', companies_path, method: :get,class: 'btn btn-default', role: "button" %>
  <button type="submit" class="btn btn-primary">Salvar mudanças</button>
<% end %>

<script type="text/javascript">
  $('#my-select').multiSelect({
    selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Usuários'>",
    selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Usuários da Empresa'>",
    afterInit: function(ms){
      var that = this,
          $selectableSearch = that.$selectableUl.prev(),
          $selectionSearch = that.$selectionUl.prev(),
          selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
          selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

      that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
      .on('keydown', function(e){
        if (e.which === 40){
          that.$selectableUl.focus();
          return false;
        }
      });

      that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
      .on('keydown', function(e){
        if (e.which == 40){
          that.$selectionUl.focus();
          return false;
        }
      });
    },
    afterSelect: function(){
      this.qs1.cache();
      this.qs2.cache();
    },
    afterDeselect: function(){
      this.qs1.cache();
      this.qs2.cache();
    }
  });

</script>
