<% if isAdmin? %>
  <%= link_to 'Criar', new_company_path, method: :get,class: 'btn btn-default create-btn', role: "button" %>
<% end %>
<table data-toggle="table" data-search="true">
  <thead>
      <tr>
          <th></th>
          <th>Empresa</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <td>
      <% @late = false %>
        <% company.activities.each do |activity| %>
          <% if Date.today > activity.end_at && activity.result_file_size.nil? %>
            <% @late = true %>
          <% end %>
        <% end %>
        <% if @late %>
          <img style="width: 30px" src="/late_icon.png">
        <% else %>
          <img style="width: 30px" src="/notlate_icon.png">
        <% end %>
      </td>
      <td><%= company.fantasy_name %></td>
      <td>
        <div class='wrapper text-center'>
          <div class="btn-group btn-group-sm">
            <%= link_to 'Show', company, method: :get,  class: 'btn btn-mini btn-success', role: "button" %>
            <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-mini btn-warning', role: "button" %>
            <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger', role: "button" %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>