
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <h2>Empresa</h2>
  <div class="container ">

    <div class="row">
      <div class="text-center">
        <%= image_tag(@company.logo.url(:thumb), :align=> "left")%>
      </div>
    </div>
     <div class="row">
      <div class="col-xs-6">
        <hr size="10">
        <p>
          <strong><%= @company.fantasy_name %></strong>
        </p>
        <p>
          <%= @company.company_name %>
        </p>
        <p>
          <%= @company.cnpj %>
        </p>
        <div class="textcontainer scrollable">
          <p>
            <%= @company.description %>
          </p>
        </div>

        <hr size="10">

        <p>
          <%= @company.street %>
        </p>

        <p>
          <%= @company.area %>
        </p>

        <p>
          <%= @company.city %>
        </p>

        <p>
          <%= @company.state %>
        </p>

        <hr size="10" class="margin-100">

        <p>
          <strong>Desempenho</strong>
        </p>

        <div class="bodycontainer scrollable">
          <%= pie_chart(
          {"Atividades Terminadas" => @activitiesCompleted, "Atividades Pendentes" => @activitiesPending},
          height: "105px"
          ) %>
        </div>

      </div>
      <div class="col-xs-6">
        <hr size="10">
        <p>
          <%= @company.phone %>
        </p>

        <p>
          <%= @company.email %>
        </p>

        <p>
          <%= @company.facebook %>
        </p>

        <p>
          <%= @company.twitter %>
        </p>

        <hr size="10"  class="margin-48">

        <p>
          <strong>Usuários envolvidos</strong>
        </p>

        <div class="bodycontainer scrollable">
          <table data-toggle="table" data-search="false" class="table-condensed table-striped" >
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @company.users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.role.name %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <hr size="10"  class="">

        <p>
          <strong>Atividades</strong>
        </p>

        <div class="bodycontainer scrollable">
          <table data-toggle="table" data-search="false" class="table-condensed table-striped" >
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @company.activities.each do |activity| %>
              <tr>
                <td><%= link_to activity.name, activity, method: :get %></td>
                <td><%= Date.strptime(activity.start_at.to_s, "%Y-%m-%d").strftime("%d/%m/%Y") %></td>
                <td>
                  <%= Date.strptime(activity.end_at.to_s, "%Y-%m-%d").strftime("%d/%m/%Y") %>
                  <% if Date.today > activity.end_at && activity.result_file_size.nil? %>
                    <font color="red"><%= "atrasado" %></font>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
</div>


<%= link_to 'Editar', edit_company_path(@company), method: :get,class: 'btn btn-primary', role: "button" %>
<%= link_to 'Voltar', companies_path, method: :get,class: 'btn btn-default', role: "button" %>
