<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, :html => {:class => "form-signin"}, as: resource_name, url: session_path(resource_name)) do |f|%>
        <%= f.label :email, :class=>'sr-only'%>
        <%= f.email_field :email, autofocus: true, :class=>'form-control', :placeholder => "Email" %>
        <%= f.label :password, :class=>'sr-only'%>
        <%= f.password_field :password, autofocus: true, :class=>'form-control', :placeholder => "Senha" %>
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox  ">
            <label>
              <%= f.check_box :remember_me %> Remember me
            </label>
          </div>
        <% end -%>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end -%>
  </div>
</div>