// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-xs-2 {
	padding-top: 15px;
}

.col-xs-10 {
	padding-top: 15px;
}