// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bodycontainer { max-height: 155px; min-height: 155px; width: 100%; margin: 0; overflow-y: auto; }
.table-scrollable { margin: 0; padding: 0; }
.textcontainer { max-height: 50px; width: 100%; margin: 0; overflow-y: auto; }
.margin-48 { margin-top: 48px }
.margin-100 { margin-top: 100px }
tr {text-align: center}
th {text-align: center !important}
.container2 { border:2px solid #ccc; width:100%; height: 250px; overflow-y: scroll; }
.row2 {
    line-height:24pt !important;
}

.row2:nth-child(odd) {
    background: #e0e0e0;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.ms-container {
	width: 100% !important;
}