<%= form_for(@activity) do |f| %>

  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="form-group">
          <%= f.label "Nome", :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_field :name, :class=>"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Descrição", :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <%= f.text_area :description, :class=>"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label">Empresa</label>
          <div class="col-xs-10">
            <%= f.collection_select :company_id, Company.order(:fantasy_name),:id,:fantasy_name, include_blank: true %>
          </div>
        </div>

         <div class="form-group">
          <label class="col-xs-2 control-label">Categoria</label>
          <div class="col-xs-10">
            <%= f.collection_select :category_id, ActivityCategory.order(:name),:id,:name, include_blank: true %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Início", :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <div class='input-group date' id='datetimepicker1'>
              <%= f.text_field :start_at, :class=>"form-control", :value => @activity.start_at.try(:strftime, "%d/%m/%Y")  %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Fim", :class=>"col-xs-2 control-label" %>
          <div class="col-xs-10">
            <div class='input-group date' id='datetimepicker2'>
              <%= f.text_field :end_at, :class=>"form-control", :value => @activity.end_at.try(:strftime, "%d/%m/%Y")   %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label">Template</label>
          <div class="col-xs-10">
            <%= f.file_field :template %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label">Resultado</label>
          <div class="col-xs-10">
            <%= f.file_field :result %>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'DD-MM-YYYY',
        });
        $('#datetimepicker2').datetimepicker({
            format: 'DD-MM-YYYY'
        });
    });
  </script>
  <%= link_to 'Voltar', activities_path, method: :get,class: 'btn btn-default', role: "button" %>
  <button type="submit" class="btn btn-primary">Salvar mudanças</button>
<% end %>