<%= link_to 'Criar', new_activity_path, method: :get,class: 'btn btn-default create-btn', role: "button" %>
<table data-toggle="table" data-search="true">
  <thead>
      <tr>
          <th>Atividade</th>
          <th>Empresa</th>
          <th>Início</th>
          <th>Fim</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
    <tr>
      <td><%= activity.name %></td>
      <td><%= link_to activity.company.fantasy_name, activity.company, method: :get%></td>
      <td><%= Date.strptime(activity.start_at.to_s, "%Y-%m-%d").strftime("%d/%m/%Y") %></td>
      <td>
        <%= Date.strptime(activity.end_at.to_s, "%Y-%m-%d").strftime("%d/%m/%Y") %>
        <% if Date.today > activity.end_at && activity.result_file_size.nil? %>
          <font color="red"><%= "atrasado" %></font>
        <% end %>
      </td>
      <td>
        <div class='wrapper text-center'>
          <div class="btn-group btn-group-sm">
            <%= link_to 'Show', activity, class: 'btn btn-mini btn-success', role: "button" %>
            <%= link_to 'Edit', edit_activity_path(activity), class: 'btn btn-mini btn-warning', role: "button" %>
            <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger', role: "button" %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>