<h2>Atividade</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <label class="col-xs-2 control-label">Nome</label>
      <div class="col-xs-10">
        <label style="font-weight:normal"><%= @activity.name %></label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2 control-label">Descrição</label>
      <div class="col-xs-10">
        <textarea style="font-weight:normal" readonly="true"><%= @activity.description %></textarea>
      </div>
    </div>


    <div class="form-group">
      <label class="col-xs-2 control-label">Empresa</label>
      <div class="col-xs-10">
        <label style="font-weight:normal" :class="form-control"> <%= @activity.company.fantasy_name %></label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2 control-label">Categoria</label>
      <div class="col-xs-10">
        <label style="font-weight:normal" :class="form-control">
        <% if !@activity.activity_category.nil? %>
          <%= @activity.activity_category.name %>
        <% else %>
          <%= "Nenhuma categoria associada a essa atividade" %>
        <% end %>
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2 control-label">Início</label>
      <div class="col-xs-10">
        <label style="font-weight:normal" :class="form-control"> <%= Date.strptime(@activity.start_at.to_s, "%Y-%m-%d").strftime("%d/%m/%Y") %></label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2 control-label">Fim</label>
      <div class="col-xs-10">
        <label style="font-weight:normal" :class="form-control"> <%= Date.strptime(@activity.start_at.to_s, "%Y-%m-%d").strftime("%d/%m/%Y") %></label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-2 control-label">Template</label>
      <div class="col-xs-10">
        <% if !@activity.template_file_name.nil? %>
          <%= link_to @activity.template_file_name + " (Clique para baixar)", @activity.template.url(:original, false), :format => 'pdf' %>
        <% else %>
          <%= "Nenhum template foi adicionado a esta atividade" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_activity_path(@activity), method: :get,class: 'btn btn-primary', role: "button" %>
<%= link_to 'Voltar', activities_path, method: :get,class: 'btn btn-default', role: "button" %>
