<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Edetec", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Timeline", root_path %></li>
        <li><%= link_to "Atividades", activities_path, method: :get %></li>
        <li><%= link_to "Empresas", companies_path, method: :get %></li>
        <% if isAdmin? %>
          <li><%= link_to "Usuários", users_path, method: :get %></li>
        <% end %>
        <% if user_signed_in?  %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Conta <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Perfil", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", '#' %></li>
        <% end %>
        <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
      </ul>
    </nav>
  </div>
</header>