<!DOCTYPE html>
<html>
  <head>
    <title>EdetecWeb</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% if user_signed_in?  %>
      <%= render 'layouts/header' %>
    <% end %>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
